:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}
* {
  line-height: 1.5;
  line-height: calc(1em + 0.5rem);
  vertical-align: baseline;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(12, 56, 71), rgb(2, 2, 63));
}

#canvas1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  background: linear-gradient(to bottom, lightblue, darkblue);
}

#playerLeft,
#bubble {
  display: none;
}
